<div class="inside-banner block statistics-banner">
    <h3>球员排行</h3>
    <p>查看{$statsresult[0]['SeasonName']}的球员技术统计</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span>
        <a href="{:url('index/index/index')}">首页</a>
        <span class="icon-arrow-right arrow_icon icon"></span>
        <a href="{:url('index/bbseason/read',['id'=>$statsresult[0]['SeasonID']])}">{$statsresult[0]['SeasonName']}</a><span class="icon-arrow-right arrow_icon icon"></span>
        <span class="active">技术统计</span>
    </div>
</div>
</div>
<div class="pro-wrap">
    <div class="clearfix block">
        <div class="public-left">
			<div class="title-box">
                {$statsresult[0]['SeasonName']} - 球员技术统计排行
                </div>
		
            <table class="table">
                <thead>
                <tr>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=PlayerID{if condition="$ofield eq 'PlayerID'"}&desc={$newdesc}{/if}">序号</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=PlayerName{if condition="$ofield eq 'PlayerName'"}&desc={$newdesc}{/if}">球员</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=TeamShortName{if condition="$ofield eq 'TeamShortName'"}&desc={$newdesc}{/if}">球队</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Points{if condition="$ofield eq 'Points'"}&desc={$newdesc}{/if}">得分</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Rebound{if condition="$ofield eq 'Rebound'"}&desc={$newdesc}{/if}">篮板</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Assist{if condition="$ofield eq 'Assist'"}&desc={$newdesc}{/if}">助攻</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Steal{if condition="$ofield eq 'Steal'"}&desc={$newdesc}{/if}">抢断</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Block{if condition="$ofield eq 'Block'"}&desc={$newdesc}{/if}">盖帽</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=FGP{if condition="$ofield eq 'FGP'"}&desc={$newdesc}{/if}">投篮</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=3GP{if condition="$ofield eq '3GP'"}&desc={$newdesc}{/if}">3分</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=FTP{if condition="$ofield eq 'FTP'"}&desc={$newdesc}{/if}">罚球</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Turnover{if condition="$ofield eq 'Turnover'"}&desc={$newdesc}{/if}">失误</a></th>
                    <th><a href="{:url('index/bbstatistics/lists')}?seasonid={$statsresult[0]['SeasonID']}&ofield=Foul{if condition="$ofield eq 'Foul'"}&desc={$newdesc}{/if}">犯规</a></th>
                </tr>
                </thead>
                <tbody>
                {if condition="!$statsresult"}
                <tr>
                    <td>暂没有可用排行！</td>
                </tr>
                {/if}
                {volist name="statsresult" id="stats"}
                <tr>
                    <td>{$i}</td>
                    <td>{$stats['PlayerName']}</td>
                    <td>{$stats['TeamShortName']}</td>
                    <td>{$stats['Points']|number_format=###,1,'.',''}</td>
                    <td>{$stats['Rebound']|number_format=###,1,'.',''}</td>
                    <td>{$stats['Assist']|number_format=###,1,'.',''}</td>
                    <td>{$stats['Steal']|number_format=###,1,'.',''}</td>
                    <td>{$stats['Block']|number_format=###,1,'.',''}</td>
                    <td>{$stats['FGP']|number_format=###*100,1,'.',''}%</td>
                    <td>{$stats['3GP']|number_format=###*100,1,'.',''}%</td>
                    <td>{$stats['FTP']|number_format=###*100,1,'.',''}%</td>
                    <td>{$stats['Turnover']|number_format=###,1,'.',''}</td>
                    <td>{$stats['Foul']|number_format=###,1,'.',''}</td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="public-right">
            <div class="tab-box">
                <h3>项目信息</h3>
                <ul>
                    <li><a href="{:url('index/bbseason/read',['id'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>赛场列表</a></li>
                    <li><a href="{:url('index/bbteam/lists',['seasonid'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>球队展示</a></li>
                    <li><a href="{:url('index/bbplayer/lists')}?seasonid={$thisseason['SeasonID']}"><span class="icon-chevron-right2 icon"></span>球员列表</a></li>
                    <li>
                        <dl>
                            <dt>排行榜</dt>
                            <dd><a href="{:url('index/bbteam/rank',['seasonid'=>$thisseason['SeasonID']])}">球队排行<span class="icon-chevron-right2 icon"></a></dd>
                            <dd class="active"><a href="{:url('index/bbstatistics/lists')}?seasonid={$thisseason['SeasonID']}">赛季统计<span class="icon-chevron-right2 icon"></a></dd>
                        </dl>
                    </li>
                    <li><a href="{:url('index/bbteam/apply',['seasonid'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>加入赛事</a></li>
                    <li>
                        <dl>
                            <dt>其他赛季</dt>
                            {volist name="otherseasons" id="otherseason" empty='暂没其他赛季信息！'}
                            <dd><a href="{:url('index/bbseason/read',['id'=>$otherseason['SeasonID']])}">{$otherseason['SeasonName']}<span class="icon-chevron-right2 icon"></a></dd>
                            {/volist}
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="show-box">
                <div class="img-box"><img src="images/icon_10.png" alt=""></div>
                <h3>现在开始</h3>
                <p>加入协会并参与比赛!</p>
                <a href="{:url('index/bbteam/apply',['seasonid'=>$thisseason['SeasonID']])}">加入赛事<span class="icon-chevron-right icon"></span></a>
            </div>
        </div>
    </div>
</div>