# VScode setting, 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


#backup
backup/*

# Server info
nginx.conf
nginx-local/*

# MAC file
.DS_Store

runtime/temp/*
runtime/log/*

application/database.php

#Dependency
# thinkphp/*
# vendor/*

#composer files
composer-setup.php
composer.phar

#public static asset
public/uploads
public/uploads/*