
<div class="inside-banner block statistics-banner">
    <h3>联系我们</h3>
    <p>保持和我们联系，有多种方式。</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">联系我们</span>
    </div>
</div>
</div>
<div class="news-wrap">
    <div class="clearfix block">
        <div class="news_des-box">
            <div class="title-box">

            </div>
            <div class="content-box">
                Email: svcba.svcsa@gmail.com <br>
                微信: zysxqn
            </div>
        </div>
    </div>
</div>
