<div class="inside-banner block track-banner">
    <h3>为运动员报名项目</h3>
    <p>团结拼搏，一起奉献。</p>
</div>

<style>
    .dropdown { display: none; }
</style>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">项目报名</span>
    </div>
</div>
</div>

<div class="link-wrap block clearfix">
    <div class="txt-box">
        <h3>填写/选择有关信息，为华锦赛运动员报名项目！</h3>
        <ul>
            <li>要求/说明</li>
            <li>要求/说明</li>
            <li>要求/说明</li>
            <li>要求/说明</li>
        </ul>
    </div>

    <form action="" id="apply-form" method="post" >
        <div class="form-box" style="height: 300px;" >
            <div class="shared">
                <div class="input-box mb-5">
                    <label for="SeasonID" style="width: 70px;"><b>赛季：</b></label>        
                    <select  name="SeasonID" id="SeasonID" lay-filter="SeasonClick" style="width: 240px;">
                        <option value="">选择赛季</option>
                    </select>
                </div>
                <div class="input-box mb-5">
                    <label for="TeamID" style="width: 70px;"><b>队伍：</b></label>        
                    <select name="TeamID" id="TeamID" style="width: 240px;">
                        <option value="">选择队伍</option>
                    </select>
                </div>
                <div class="input-box mb-5">
                    <label for="ItemID" style="width: 70px;"><b>项目: </b></label>        
                    <select name="ItemID" id="ItemID" style="width: 240px;">
                        <option value="">选择项目</option>
                    </select>
                </div>
            </div>
            
            <div class="dropdown" id="0-dropdown">
                <div class="input-box mb-5">
                    <label for="Sex" style="width: 70px;"><b>性别组: </b></label>        
                    <select name="Sex" id="Sex" style="width: 240px;">
                        <option value="">选择性别组</option>
                    </select>
                </div>
                <div class="input-box mb-5">
                    <label for="AgeGroupID" style="width: 70px;"><b>年龄组: </b></label>        
                    <select name="AgeGroupID" id="AgeGroupID" style="width: 240px;">
                        <option value="">选择年龄组</option>
                    </select>
                </div>
                <div class="input-box mb-5">
                    <label for="PlayerID" style="width: 70px;"><b>接力队员: </b></label>        
                    <select name="PlayerID1" id="PlayerID1" style="width: 240px;" lay-filter="PlayerClick1">
                        <option value="">选择队员#1 (必填)</option>
                    </select>
                    <select name="PlayerID2" id="PlayerID2" style="width: 240px;" lay-filter="PlayerClick2">
                        <option value="">选择队员#2 (必填)</option>
                    </select>
                    <select name="PlayerID3" id="PlayerID3" style="width: 240px;" lay-filter="PlayerClick3">
                        <option value="">选择队员#3 (必填)</option>
                    </select>
                    <select name="PlayerID4" id="PlayerID4" style="width: 240px;" lay-filter="PlayerClick4">
                        <option value="">选择队员#4 (必填)</option>
                    </select>
                    <select name="PlayerID5" id="PlayerID5" style="width: 240px;" lay-filter="PlayerClick5">
                        <option value="">选择队员#5 (选填)</option>
                    </select>
                    <select name="PlayerID6" id="PlayerID6" style="width: 240px;" lay-filter="PlayerClick6">
                        <option value="">选择队员#6 (选填)</option>
                    </select>
                </div>
            </div>
            <div class="dropdown" id="1-dropdown">
                <div class="input-box mb-5">
                    <label for="PlayerID" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerID" id="PlayerID" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>
                <div class="input-box mb-5">
                    <label for="Sex" style="width: 70px;"><b>性别组: </b></label>        
                    <select name="Sex" id="Sex" style="width: 240px;">
                        <option value="">选择性别组</option>
                    </select>
                </div>
    
                <div class="input-box mb-5">
                    <label for="AgeGroupID" style="width: 70px;"><b>年龄组: </b></label>        
                    <select name="AgeGroupID" id="AgeGroupID" style="width: 240px;">
                        <option value="">选择年龄组</option>
                    </select>
                </div>
            </div>
            <div class="sub">发送</div>
        
        </div>
        
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="layui/layui.js"></script>

<script>
    // getting select options for season. 
    axios.get('/CTFCSeason', {}).then(function (response) {
             console.log(response);
            const data = response.data.data;
        $.each(data, function (index, item) {
        $('#SeasonID').append('<option value="' + item.ID + '">' + item.Name + '</option>');
        });
            form.render();
        })
            .catch(function (error) {
                console.log(error);
        });
</script>