<div class="inside-banner block track-banner">
    <h3>为运动员报名项目</h3>
    <p>团结拼搏，一起奉献。</p>
</div>

<link rel="stylesheet" href="layui/css/layui.css">
<style>
    .dropdown { 
        display: none;
    }

    .input-box {
        margin-left: 20px;
    }

    .aNote {
        color: red;
    }

    .modal {
        display: none; 
        position: fixed;
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto;
        background-color: rgba(0,0,0,0.4); 
    }
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .player-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around or center, depending on how you want the images to be spaced */
    }

    .player-container img {
        flex: 1 0 calc(33.33% - 10px); /* This makes each image take up about a third of the row, minus 10px for some margin */
        margin: 5px; /* Adds some space around each image */
        max-width: 100%;
        height: auto;
    }
</style>

<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">报名项目</span>
    </div>
</div>
</div>

<div class="link-wrap block clearfix">
    <div class="txt-box" width="200px">
        <h3>填写/选择有关信息，为华锦赛运动员注册项目！</h3>
        <div class="aNote"> <h6>请仔细阅读说明后完成项目注册，如有问题请及时联系 Email: svcba.svcsa@gmail.com 或 微信: zysxqn</h6></div>
       
        <ul>
            <li><h5>注册单人项目时，一次性可同时为该项目注册最多六人。<br/>如多于六人，请再次提交一份新的注册请求。</h5></li> 
            <li><h5>注册接力项目时，最少注册四人，最多六人。</h5></li> 
            <li><h5>注册混合接力时，至少二男二女。</h5></li> 
            <li><h5>如下拉菜单没有成功显示运动员，<br>请先确认运动员是否已被注册成功，<br/>或查看该运动员已被其他队伍注册登记。 </h5></li>
            <li><h5>报名项目由各队队长/领队为自己队伍统一填写。<br>请确保运动队已经注册。</h5></li>
            <li><h5>本队所有待报名队员已经自行注册。<br>否则你的队伍名字以及队员名字，<br>不会出现在下拉列表中。</h5></li>
        </ul>
    </div>

    <form action="" id="apply-form" method="post" >
        <div class="form-box" style="height: 350px; width: 800px" >
              <div class="input-box" style="width:240px;border:0px;">
                <label for="SeasonID" style="width: 70px;"><b>赛季：</b></label>        
                <select  name="SeasonID" id="SeasonID" style="width: 240px;">
                    <option value="">选择赛季</option>
                </select>
            </div>
              <div class="input-box"  style="width:240px;border:0px;">
                <label for="TeamID" style="width: 70px;"><b>队伍：</b></label>        
                <select name="TeamID" id="TeamID" style="width: 240px;">
                    <option value="">选择队伍</option>
                </select>
            </div>
            <div class="input-box"  style="width:240;border:0px">
                <label for="ItemID" style="width: 70px;"><b>项目: </b></label>        
                <select name="ItemID" id="ItemID" style="width: 240px;">
                    <option value="">选择项目</option>
                </select>
            </div>
            
            <div class="dropdown" id="0-dropdown">
                <div class="input-box" style="width:240px;border:0px">
                    <label for="Sex" style="width: 70px;"><b>性别组: </b></label>        
                    <select name="Sex" id="Sex" style="width: 240px;">
                        <option value="">选择性别组</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="AgeGroupID" style="width: 70px;"><b>年龄组: </b></label>        
                    <select name="AgeGroupID" id="AgeGroupID" style="width: 240px;">
                        <option value="">选择年龄组</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerID" style="width: 70px;"><b>接力队员: </b></label>        
                    <select name="PlayerID1" id="PlayerID1" style="width: 240px;" lay-filter="PlayerClick1" required>
                        <option value="">选择接力队员#1 (必填)</option>
                    </select>
                    <select name="PlayerID2" id="PlayerID2" style="width: 240px;" lay-filter="PlayerClick2" required>
                        <option value="">选择接力队员#2 (必填)</option>
                    </select>
                    <select name="PlayerID3" id="PlayerID3" style="width: 240px;" lay-filter="PlayerClick3" required>
                        <option value="">选择接力队员#3 (必填)</option>
                    </select>
                    <select name="PlayerID4" id="PlayerID4" style="width: 240px;" lay-filter="PlayerClick4" required>
                        <option value="">选择接力队员#4 (必填)</option>
                    </select>
                    <select name="PlayerID5" id="PlayerID5" style="width: 240px;" lay-filter="PlayerClick5">
                        <option value="">选择接力队员#5 (选填)</option>
                    </select>
                    <select name="PlayerID6" id="PlayerID6" style="width: 240px;" lay-filter="PlayerClick6">
                        <option value="">选择接力队员#6 (选填)</option>
                    </select>
                </div>
            </div>

            <div class="dropdown" id="1-dropdown">

                <div class="input-box select-input">
                    <span class="select-btn">选择队员</span><span class="nub">已选择<em>0</em>个队员</span>
                </div>
            </div>

            <div class="sub">发送</div>
        
        
            <div id="myModal" class="modal">
                <div class="modal-content">
                   
                    <div class="button-container" style="display: flex; justify-content: space-between; align-items: center; width: 400px;">
                        <button id="saveButton">确认所有选中队员</button>

                        <span id="closeBtn" onclick="closeModal()">&times;关闭窗口</span>
                    </div>
                   
                    <input type="hidden" name="selectedPlayerIDs" />
                    <input type="hidden" name="selectedplayers" />
                    <input type="hidden" name="selectedplayersAgeGroup" />
                    <div class="col-md-3">
                        <div class="item-box">
                            <label>
                                <p id="playerList"></p>
                                <h3>点击图片即可选择参赛队员！</h3>
                                <div id="playerContainer" class="player-container"> 
                                    <!-- player images will be appended here -->
                                </div>
                                <button id="saveButton2" style="width: 200px; height: 50px;">确认所有选中队员</button>

                            </label>
                        </div>
                    </div>
        
                </div>
            </div>

        </div>         
    
    
        
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="public/layui/layui.js"></script>

<script>
 

    function CheckIsSingle(OneId, sexId, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getTypeOfItem',
            type: 'Get',
            dataType: 'json',
            data: {
                ItemID: OneId,
            },
            header: {
                Accept: 'application/json'
            },
            success: function (data) {
                currentIsSingleFlag = data['affectedRows']
                // console.log('IsSingle=' + currentIsSingleFlag);
                
                var dropdowns = document.getElementsByClassName('dropdown');
                for (var j = 0; j < dropdowns.length; j++) {
                    dropdowns[j].style.display = 'none';
                }
                document.getElementById(currentIsSingleFlag + '-dropdown').style.display = 'block';
                
                if(currentIsSingleFlag == 0) {
                    $('#Sex').empty();
                    $('#Sex').append('<option value="' + sexId + '">' + sexId + '</option>');

                }
                callback(currentIsSingleFlag);
            }
        });
    }

    function getPlayerList(sitemID, siSex, siMinAG, siMaxAG, teamID, SsID, callback) {

        let currentPlayerList = [];
        $.ajax({
            url: '/ctfcitemplayer/getSeasonTeamPlayers',
            type: 'Get',
            dataType: 'json',
            data: {
            SiMinAG: siMinAG,
            SiMaxAG: siMaxAG,
            SiID: sitemID,
            SiSex: siSex,
            Tmid: teamID,
            SsID,SsID
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
            currentPlayerList = data['affectedRows'];
            // console.log('PlayerList=' + currentPlayerList);
            callback(currentPlayerList);
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });
    }

    function getAgeRange(seasonAgeGroupID, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getAgeRangeSeasonItem',
            type: 'Get',
            dataType: 'json',
            data: {
            SiAgeGroupID: seasonAgeGroupID,
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
                ageRange = data['affectedRows'];
                console.log('ageRange=' + ageRange);
                callback(ageRange); // Call the callback function with the ageRange
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });
    }

    function updatePlayerListForRelay(currentItemid, currentSex, seasonAgeGroupID, SelectedTeamID, CurrentSeasonID) {
        // console.log("CurrentSeasonID: " + CurrentSeasonID);
        // console.log("currentItemid: " + currentItemid);
        // console.log("currentSex: " + currentSex);
        // console.log("SelectedTeamID: " + SelectedTeamID);
        // console.log("seasonAgeGroupID: " + seasonAgeGroupID);

        getAgeRange(seasonAgeGroupID, function(ageRange){
            // console.log('in getAgeRange() ageRange=' + ageRange);
            getPlayerList(currentItemid, currentSex, ageRange[0],ageRange[1], SelectedTeamID, CurrentSeasonID, function(currentPlayerList) {
                console.log('PlayerList=' + currentPlayerList);
                for (var i = 1; i < 7; i++) {
                    $('#PlayerID' + i).empty();
                    $('#PlayerID' + i).append('<option value="">' + "选择队员 (必填)" + '</option>');
                }
                
                axios.get('/CTFCPlayer?registeritem=1', {}).then(function (response) {
                    var playerList = response.data.data.filter(function (item) {
                        return currentPlayerList.includes(item.ID);
                    });

                    playerList.forEach(function (item) {
                        var option = '<option value="' + item.ID + '">' + item.Name + '</option>';
                        $('#PlayerID1').append(option);
                        $('#PlayerID2').append(option);
                        $('#PlayerID3').append(option);
                        $('#PlayerID4').append(option);
                        $('#PlayerID5').append(option);
                        $('#PlayerID6').append(option);
                    });
                    }).catch(function (error) {
                    console.log(error);
                    });
            });
        });
    }

    function getPlayerAgeSex(playerid, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getAgeSex',
            type: 'Get',
            dataType: 'json',
            data: {
            PlayerID: playerid
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
            playerAgeAndSex = data['affectedRows'];
            callback(playerAgeAndSex[0], playerAgeAndSex[1]);
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });

    }

    // getting select options for season. 
    axios.get('/CTFCSeason', {}).then(function (response) {
        // console.log(response);
        const data = response.data.data;
        const maxseasonid = data.reduce((max, item)=>{
                return item.ID > max ? item.ID : max; 
            }, 0 )
        $.each(data, function (index, item) {
            if(item.ID == maxseasonid) {
                $('#SeasonID').empty();
                $('#SeasonID').append('<option value="' + item.ID + '">' + item.Name + '</option>');

            }
        });
        var selectedSeasonID = maxseasonid;
        // Get Seasonteam
        axios.get('/CTFCSeasonteam?seasonid=' + selectedSeasonID, {}).then(function (response) {
        const data = response.data.data;
        if (data.length !== 0) {
            $.each(data, function (index, item) {
                $('#TeamID').append('<option value="' + item.TeamID + '">' + item.TeamName + '</option>');
            });
            }
        }).catch(function (error) {
                console.log(error);
        });
        // Get Seasonitem
        axios.get('/CTFCSeasonitem?seasonid=' + selectedSeasonID, {}).then(function (response) {
        const data = response.data.data;
        // console.log("------", data)
        if (data.length !== 0) {
            $.each(data, function (index, item) {
                // console.log("=====", item)
                var optionText = item.Sex === "Mix" && item.MinAgeGroupID === item.MaxAgeGroupID ? "7 - 8岁" + " - " + item.ItemName : item.Sex + " - " + item.ItemName;
                $('#ItemID').append('<option value="' + item.ItemID + '-' + item.Sex + '">' + optionText + '</option>');
            });
            }
        }).catch(function (error) {
            console.log(error);
        });

    }).catch(function (error) {
        console.log(error);
    });

    $('#TeamID').on('change', function () {
        //Clean up myModal
        $("input[name='selectedPlayerIDs']").val('');
        $("input[name='selectedplayers']").val('');
        $("input[name='selectedplayersAgeGroup']").val('');
        // Empty the player container
        $("#playerContainer").empty();
    });

    $('#ItemID').on('change', function () {
        var selectedItemSex = $(this).val().split("-");;
        var xiangmu = selectedItemSex[0];
        var xiangmuSex = selectedItemSex[1];
        var SelectedTeamID = document.getElementById('TeamID').value;
        var SelectedSeasonID = document.getElementById('SeasonID').value;
        CheckIsSingle(xiangmu, xiangmuSex, function(currentIsSingleFlag) {
            // Multiple player item
            if(currentIsSingleFlag == 0) {
                // Update playerlist if AgeGroupID is already selected
                currentAgeID = document.getElementById('AgeGroupID').value;   
                if(currentAgeID) {
                    var checkAgeGroupID;
                    axios.get('/CTFCAgegroup?id=' +currentAgeID, {}).then(function (response) {
                        $.each(response.data.data, function (index, element) {
                            console.log(element.ID + "-" +element.MinAge +  "-" +element.MaxAge );
                            checkAgeGroupID = element.ID;
                        });
                        updatePlayerListForRelay(xiangmu, xiangmuSex, checkAgeGroupID, SelectedTeamID, SelectedSeasonID);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                // Update AgeGroup option feild
                $('#AgeGroupID').empty();
                $('#AgeGroupID').append('<option value="">' + "选择年龄组" + '</option>');
                axios.get('/ctfcitemseasonitemagegroupview?seasonid=' + SelectedSeasonID, {}).then(function (response) {
                    var seasonitemFiltersMinA;
                    var seasonitemFiltersMaxA;
                    $.each(response.data.data, function (index, item) {
                        if(item.ItemID == xiangmu && item.Sex == xiangmuSex) {
                            seasonitemFiltersMinA = item.MinAgeGroupMinAge;
                            seasonitemFiltersMaxA = item.MaxAgeGroupMaxAge;                            
                        }
                    });
                    axios.get('/CTFCAgegroup', {}).then(function (response) {
                        var newArray = [];
                        $.each(response.data.data, function (index, element) {
                            newArray.push([element.ID, [element.MinAge, element.MaxAge, element.Name]]);
                        });
                        // console.log(newArray); 
                        for (var i = 0; i < newArray.length; i++) {
                            var element = newArray[i];
                            var minAge = element[1][0];
                            var maxAge = element[1][1];
                            var AgeGroupName = element[1][2];
                            if (minAge >= seasonitemFiltersMinA && maxAge <= seasonitemFiltersMaxA) {
                                console.log('ID ' + element[0] + ' falls within the range.');
                                $('#AgeGroupID').append('<option value="' + element[0] + '">' + AgeGroupName + ' ' + minAge + '-' + maxAge + '</option>');
                            }
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            } else { // single player only update playerlist
                //Clean up myModal
                $("input[name='selectedPlayerIDs']").val('');
                $("input[name='selectedplayers']").val('');
                $("input[name='selectedplayersAgeGroup']").val('');
                // Empty the player container
                $("#playerContainer").empty();
                // console.log("CheckIsSingle:"+currentIsSingleFlag);
                axios.get('/ctfcitemseasonitemagegroupview?seasonid=' + SelectedSeasonID, {}).then(function (response) {
                    const data = response.data.data;
                    $.each(response.data.data, function (index, item) {
                        if(item.ItemID == xiangmu && item.Sex == xiangmuSex) {
                            seasonitemFiltersMinAG = item.MinAgeGroupMinAge;
                            seasonitemFiltersMaxAG = item.MaxAgeGroupMaxAge;
                        }
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        });
    });

    $('#AgeGroupID').on('change', function () {
        var currentAgeGroupid = $(this).val();
        var selectedItemSex = document.getElementById('ItemID').value.split("-");;
        var xiangmu = selectedItemSex[0];
        var xiangmuSex = selectedItemSex[1];
        var SelectedTeamID = document.getElementById('TeamID').value;
        var SelectedSeasonID = document.getElementById('SeasonID').value; 
        for (var i = 1; i < 7; i++) {
            $('#PlayerID' + i).empty();
            $('#PlayerID' + i).append('<option value="">' + "选择队员# (必填)" + '</option>');
        }
        axios.get('/CTFCAgegroup?id=' +currentAgeGroupid, {}).then(function (response) {
            var checkAgeGroupID;
            $.each(response.data.data, function (index, element) {
                console.log(element.ID + "-" +element.MinAge +  "-" +element.MaxAge );
                checkAgeGroupID = element.ID;
            });
            updatePlayerListForRelay(xiangmu, xiangmuSex, checkAgeGroupID, SelectedTeamID, SelectedSeasonID);
        }).catch(function (error) {
        console.log(error);
        });

    });

    // Single player option button
    $('.select-btn').click(function(){
        displayPlayerList();
    });


    function postData(SeasonIDNumber, TeamIDNumber, xiangmuSex, AgeGroupIDNumber, xiangmu, PlayerSetNumber) {
        return axios.post('/CTFCItemplayer/', {
            SeasonID: SeasonIDNumber,
            TeamID: TeamIDNumber,
            Sex: xiangmuSex,
            AgeGroupID: AgeGroupIDNumber,
            ItemID: xiangmu,
            PlayerID1: PlayerSetNumber,
            PlayerID2: 0,
            PlayerID3: 0,
            PlayerID4: 0,
            PlayerID5: 0,
            PlayerID6: 0,
        }).catch(function (error) {
            console.log(error);
        });
    }

    function postDataWithCallback(SeasonIDNumber, TeamIDNumber, xiangmuSex, AgeGroupIDNumber, xiangmu, PlayerSetNumber, callback) {
        // console.log("SeasonIDNumber: " + SeasonIDNumber);
        // console.log("TeamIDNumber: " + TeamIDNumber);
        // console.log("xiangmuSex: " + xiangmuSex);
        // console.log("AgeGroupIDNumber: " + AgeGroupIDNumber);
        // console.log("xiangmu: " + xiangmu);
        // console.log("PlayerSetNumber: " + PlayerSetNumber);

    axios.post('/CTFCItemplayer/', {
        SeasonID: SeasonIDNumber,
        TeamID: TeamIDNumber,
        Sex: xiangmuSex,
        AgeGroupID: AgeGroupIDNumber,
        ItemID: xiangmu,
        PlayerID1: PlayerSetNumber,
        PlayerID2: 0,
        PlayerID3: 0,
        PlayerID4: 0,
        PlayerID5: 0,
        PlayerID6: 0,
    }).then(function(response) {
        callback(null, response);
    }).catch(function (error) {
        callback(error);
    });
}

    $(".sub").click(function(){
        var selectedItemSex = $('select[name=ItemID]').val().split("-");
        xiangmu = selectedItemSex[0];
        xiangmuSex = selectedItemSex[1];
        CheckIsSingle(xiangmu, xiangmuSex, function(currentIsSingleFlag) {
            // Submit upto 6 single-player items
            if(currentIsSingleFlag == 1) {
                // console.log("SeasonID: " + $('select[name=SeasonID]').val());
                // console.log("TeamID: " + $('select[name=TeamID]').val());
                // console.log("Sex: " + xiangmuSex);
                // console.log("ItemID: " + xiangmu);
                SeasonIDNumber=$('select[name=SeasonID]').val();
                TeamIDNumber =$('select[name=TeamID]').val();
                
                let playerIdsStr = $("input[name='selectedPlayerIDs']").val();
                let playerIds = playerIdsStr.split(',');

                if(!playerIds.some(Boolean)) {
                    alert('Please add at least one player before submitting');
                    return;
                }


                let playerAgeGroupsStr = $("input[name='selectedplayersAgeGroup']").val();
                // OptplayerAgeGroupsStr = playerAgeGroupsStr.slice(0, -2);
                console.log("playerAgeGroupsStr: " + playerAgeGroupsStr);
                let playerAgeGroups = playerAgeGroupsStr.split(',');


                let successfulPostCount = 0;

                for(let i = 0; i < playerIds.length; i++) {
                    console.log("playerIds["+i+"]="+playerIds[i]);

                    if(playerIds[i]) {
                        postDataWithCallback(SeasonIDNumber, TeamIDNumber, xiangmuSex, playerAgeGroups[i], xiangmu, playerIds[i], function(error, result) {
                            if(error) {
                                console.log(error);
                                // handle error
                            } else {
                                console.log(result);
                                // handle result
                                successfulPostCount++; // increment the counter
                                if(successfulPostCount === playerIds.length) {
                                    alert('添加成功');
                                    window.location.href = window.location.origin + "/ctfc"
                                }
                            }
                        });
                    }
                }

            } else {
                var playerIDs = [
                    $('select[name=PlayerID1]').val(),
                    $('select[name=PlayerID2]').val(),
                    $('select[name=PlayerID3]').val(),
                    $('select[name=PlayerID4]').val(),
                    $('select[name=PlayerID5]').val(),
                    $('select[name=PlayerID6]').val()
                ];
                var definedPlayerCount = playerIDs.filter(Boolean).length; // Count how many players are defined

                if (definedPlayerCount < 4) {
                    alert('Please add at least 4 players before submitting');
                    return;
                }

                if ($('#ItemID').val() == '12-Mix') {
                    var i = 0, male = 0, female = 0;
                    let ajaxCallsRemaining = definedPlayerCount; 
                    while (i < definedPlayerCount) {
                        getPlayerAgeSex(playerIDs[i], function(playerAgeGroup, playerSex){
                            if (playerSex == 'M') male++;
                            else if (playerSex == 'F') female++;
                            --ajaxCallsRemaining;
                            if (ajaxCallsRemaining <= 0) {
                                if (definedPlayerCount == 4 && male > 2 && $('#AgeGroupID').val() != 1) {
                                    alert('A maximum of 2 men are allowed to this event.');
                                    return;
                                } else if (definedPlayerCount > 4 && male > 3 && $('#AgeGroupID').val() != 1) {
                                    alert('A maximum of 3 men are allowed to this event.');
                                    return;
                                }
                                axios.post('/CTFCItemplayer/', {
                                    SeasonID:$('select[name=SeasonID]').val(),
                                    TeamID: $('select[name=TeamID]').val(),
                                    Sex: xiangmuSex,
                                    AgeGroupID: $('select[name=AgeGroupID]').val(),
                                    ItemID: xiangmu,
                                    PlayerID1: $('select[name=PlayerID1]').val(),
                                    PlayerID2: $('select[name=PlayerID2]').val(),
                                    PlayerID3: $('select[name=PlayerID3]').val(),
                                    PlayerID4: $('select[name=PlayerID4]').val(),
                                    PlayerID5: $('select[name=PlayerID5]').val(),
                                    PlayerID6: $('select[name=PlayerID6]').val(),
                                }).then(function (response) {
                                    alert('添加成功');
                                    // Redirect to a specific URL
                                    window.location.href = window.location.origin + "/ctfc"
                                }).catch(function (error) {
                                    console.log(error);
                                });
                            }
                        });
                        i++;
                    }
                } else {
                    axios.post('/CTFCItemplayer/', {
                        SeasonID:$('select[name=SeasonID]').val(),
                        TeamID: $('select[name=TeamID]').val(),
                        Sex: xiangmuSex,
                        AgeGroupID: $('select[name=AgeGroupID]').val(),
                        ItemID: xiangmu,
                        PlayerID1: $('select[name=PlayerID1]').val(),
                        PlayerID2: $('select[name=PlayerID2]').val(),
                        PlayerID3: $('select[name=PlayerID3]').val(),
                        PlayerID4: $('select[name=PlayerID4]').val(),
                        PlayerID5: $('select[name=PlayerID5]').val(),
                        PlayerID6: $('select[name=PlayerID6]').val(),
                    }).then(function (response) {
                        alert('添加成功');
                        // Redirect to a specific URL
                        window.location.href = window.location.origin + "/ctfc"
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        });
    });


    function openModal() {
        console.log("openModal");
        document.getElementById('myModal').style.display = "block";
    }

    let playerIDArray = [];
    function displayPlayerList() {
        var selectedItemSex = document.getElementById('ItemID').value.split("-");;
        var xiangmu = selectedItemSex[0];
        var xiangmuSex = selectedItemSex[1];
       var SelectedTeamID = document.getElementById('TeamID').value;
        var SelectedSeasonID = document.getElementById('SeasonID').value;
        
        let checkplayerContainer = document.getElementById('playerContainer');
        axios.get('/ctfcitemseasonitemagegroupview?seasonid=' + SelectedSeasonID, {}).then(function (response) {
            const data = response.data.data;
            $.each(response.data.data, function (index, item) {
                if(item.ItemID == xiangmu && item.Sex == xiangmuSex) {
                    seasonitemFiltersMinAG = item.MinAgeGroupMinAge;
                    seasonitemFiltersMaxAG = item.MaxAgeGroupMaxAge;

                    getPlayerList(xiangmu, xiangmuSex, seasonitemFiltersMinAG,seasonitemFiltersMaxAG, SelectedTeamID, SelectedSeasonID, function(currentPlayerList) {
                        console.log("currentPlayerList:"+currentPlayerList);
                        playerIDArray = currentPlayerList;
                        let playerArray = []; 
                        axios.get('/CTFCPlayer', {}).then(function (response) {
                            if (checkplayerContainer.hasChildNodes()) {
                                console.log("playerContainer has child nodes");
                            } else {
                                console.log("playerContainer does not have any child nodes");
                                $.each(response.data.data, function (index, player) {
                                    if(currentPlayerList.includes(player.ID)) {
                                        console.log("player:"+player);
                                        playerArray.push(player);
                                    }
                                });
                            }
                            let playerData = playerArray;
                            let playerContainer = document.getElementById('playerList');
                            playerData.forEach((player, index) => {

                                // Create a new div for this player
                                let playerDiv = document.createElement('div');

                                // Style the div as a column so the name appears below the image
                                playerDiv.name = 'playerDiv';
                                playerDiv.style.display = 'flex';
                                playerDiv.style.flexDirection = 'column';
                                playerDiv.style.alignItems = 'center'; // center the content
                                playerDiv.style.width = '120px';

                                // Create the image as before
                                let playerImage = document.createElement('img');
                                playerImage.src = '{$Think.config.public_assets}' + "/uploads/" + player.PhotoSrc;
                                console.log("player.PhotoSrc"+ player.PhotoSrc);
                                playerImage.alt = 'Player Photo';
                                playerImage.style.maxWidth = '100%';
                                playerImage.style.height = 'auto';

                                // Create a new input element for the checkbox
                                let playerCheckbox = document.createElement('input');
                                playerCheckbox.type = 'checkbox';
                                playerCheckbox.id = 'playerCheckbox' + index; // Give each checkbox a unique ID

                                playerDiv.appendChild(playerImage); // Append the image to the new div


                                // Create a new p element for the player's name
                                let playerName = document.createElement('p');
                                playerName.innerText = player.Name; // Assuming player.Name contains the player's name

                                // Create a div for the checkbox and player's name
                                let nameCheckboxDiv = document.createElement('div');
                                nameCheckboxDiv.style.display = 'flex';
                                nameCheckboxDiv.style.justifyContent = 'center';

                                // Append the checkbox and player's name to the div
                                nameCheckboxDiv.appendChild(playerCheckbox);
                                nameCheckboxDiv.appendChild(playerName);

                                playerDiv.appendChild(nameCheckboxDiv); // Append the name and checkbox to the new div

                                // Add an onclick event listener to the image to check the checkbox
                                playerDiv.addEventListener('click', function() {
                                    event.preventDefault(); // Add this line to prevent the default behavior of the event
                                    let checkbox = document.getElementById('playerCheckbox'+index);
                                    checkbox.checked = !checkbox.checked;
                                    console.log("checkbox("+index+") checked");
                                    // Access the 'selectedplayers' element
                                    let mySelectedPlayers = document.querySelector('input[name="selectedplayers"]');
                                    // Check if checkbox is checked
                                    if (checkbox.checked) {
                                        // If checked, append the player's ID
                                        mySelectedPlayers.value += player.ID + ', ';
                                    } else {
                                        // If unchecked, remove the player's ID
                                        mySelectedPlayers.value = mySelectedPlayers.value.replace(player.ID + ', ', '');
                                    }
                                    let selectedPlayersArray = mySelectedPlayers.value.split(", "); // Split string into an array
                                    let selectedPlayersSet = new Set(selectedPlayersArray); // Convert array to set to remove duplicates
                                    let uniqueSelectedPlayersArray = Array.from(selectedPlayersSet); // Convert set back to array
                                    let uniqueSelectedPlayers = uniqueSelectedPlayersArray.join(", "); // Convert array back to string
                                    mySelectedPlayers.value = uniqueSelectedPlayers; // Assign back to your input field                                    
                                });
                                // Append the new div to the container
                                document.getElementById('playerContainer').appendChild(playerDiv);
                            });
                        }).catch(function (error) {
                            console.log(error);
                        });
                        openModal();
                    });
                }
            });
        }).catch(function (error) {
            console.log(error);
        });
        
    }

    $("#saveButton, #saveButton2").click(function() {
        event.preventDefault();
        let selectedPlayers = $("input[name='selectedplayers']").val();
        OptselectedPlayerIDs = selectedPlayers.slice(0, -2);
        $("input[name='selectedPlayerIDs']").val(OptselectedPlayerIDs);
        let selectedPlayerIDs = $("input[name='selectedPlayerIDs']").val();
        console.log($("input[name='selectedPlayerIDs']").val());
        let playerIds = selectedPlayerIDs.split(',');
        /**
        Take an array of player ids
        output an array of player agegroup ids
        */
        const promiseArray = [];
        playerIds.forEach((playerId) => {
            const playerPromise = new Promise((res, rej) => {
                $.ajax({
                    url: '/ctfcitemplayer/getAgeSex',
                    type: 'Get',
                    dataType: 'json',
                    data: {
                        PlayerID: playerId
                    },
                    header: {
                        Accept: 'application/json'
                    },
                    success: function onsuccess(data) {
                        playerAgeAndSex = data['affectedRows'];
                        res(playerAgeAndSex[0]);
                    },
                    error: function onerror(xhr) {
                        console.log(xhr.status);
                        rej('Cannot find the assoicated age group', xhr.status);
                    }
                });
            });
            promiseArray.push(playerPromise);
        })

        Promise.all(promiseArray).then((ageGroupIds) => {
            playerAgeGroups = ageGroupIds.join(',');
            $("input[name='selectedplayersAgeGroup']").val(playerAgeGroups);
            console.log("playerAgeGroups.value: " + playerAgeGroups);
        })
        $('.input-box .nub em').text(playerIds.length);
        closeModal();
    });

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }


</script>
