<div class="inside-banner block track-banner">
    <h3>为运动员报名项目</h3>
    <p>团结拼搏，一起奉献。</p>
</div>


<style>
    .dropdown { 
        display: none;
    }

    .input-box {
        margin-left: 20px;
    }
</style>

<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">项目报名</span>
    </div>
</div>
</div>

<div class="link-wrap block clearfix">
    <div class="txt-box">
        <h3>填写/选择有关信息，为华锦赛运动员报名项目！</h3>
        <ul>
            <li>说明1: 报名单人项目时，一次可报名最多六人。</li>
            <li>要求/说明2</li>
            <li>要求/说明3</li>
            <li>要求/说明4</li>
        </ul>
    </div>

    <form action="" id="apply-form" method="post" >
        <div class="form-box" style="height: 350px; width: 800px" >
              <div class="input-box" style="width:240px;border:0px;">
                <label for="SeasonID" style="width: 70px;"><b>赛季：</b></label>        
                <select  name="SeasonID" id="SeasonID" style="width: 240px;">
                    <option value="">选择赛季</option>
                </select>
            </div>
              <div class="input-box"  style="width:240px;border:0px;">
                <label for="TeamID" style="width: 70px;"><b>队伍：</b></label>        
                <select name="TeamID" id="TeamID" style="width: 240px;">
                    <option value="">选择队伍</option>
                </select>
            </div>
            <div class="input-box"  style="width:240;border:0px">
                <label for="ItemID" style="width: 70px;"><b>项目: </b></label>        
                <select name="ItemID" id="ItemID" style="width: 240px;">
                    <option value="">选择项目</option>
                </select>
            </div>
            
            <div class="dropdown" id="0-dropdown">
                <div class="input-box" style="width:240px;border:0px">
                    <label for="Sex" style="width: 70px;"><b>性别组: </b></label>        
                    <select name="Sex" id="Sex" style="width: 240px;">
                        <option value="">选择性别组</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="AgeGroupID" style="width: 70px;"><b>年龄组: </b></label>        
                    <select name="AgeGroupID" id="AgeGroupID" style="width: 240px;">
                        <option value="">选择年龄组</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerID" style="width: 70px;"><b>接力队员: </b></label>        
                    <select name="PlayerID1" id="PlayerID1" style="width: 240px;" lay-filter="PlayerClick1">
                        <option value="">选择队员#1 (必填)</option>
                    </select>
                    <select name="PlayerID2" id="PlayerID2" style="width: 240px;" lay-filter="PlayerClick2">
                        <option value="">选择队员#2 (必填)</option>
                    </select>
                    <select name="PlayerID3" id="PlayerID3" style="width: 240px;" lay-filter="PlayerClick3">
                        <option value="">选择队员#3 (必填)</option>
                    </select>
                    <select name="PlayerID4" id="PlayerID4" style="width: 240px;" lay-filter="PlayerClick4">
                        <option value="">选择队员#4 (必填)</option>
                    </select>
                    <select name="PlayerID5" id="PlayerID5" style="width: 240px;" lay-filter="PlayerClick5">
                        <option value="">选择队员#5 (选填)</option>
                    </select>
                    <select name="PlayerID6" id="PlayerID6" style="width: 240px;" lay-filter="PlayerClick6">
                        <option value="">选择队员#6 (选填)</option>
                    </select>
                </div>
            </div>

            <div class="dropdown" id="1-dropdown">
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet1" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet1" id="PlayerIDSet1" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet2" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet2" id="PlayerIDSet2" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>

                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet3" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet3" id="PlayerIDSet3" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet4" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet1" id="PlayerIDSet1" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet5" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet2" id="PlayerIDSet2" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>
                <div class="input-box" style="width:240px;border:0px">
                    <label for="PlayerIDSet6" style="width: 70px;"><b>参赛队员: </b></label>        
                    <select name="PlayerIDSet3" id="PlayerIDSet3" style="width: 240px;">
                        <option value="">选择参赛队员</option>
                    </select>
                </div>

            </div>

            <div class="sub">发送</div>
        
        </div>       
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="public/layui/layui.js"></script>

<script>



    function CheckIsSingle(OneId, sexId, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getTypeOfItem',
            type: 'Get',
            dataType: 'json',
            data: {
                ItemID: OneId,
            },
            header: {
                Accept: 'application/json'
            },
            success: function (data) {
                currentIsSingleFlag = data['affectedRows']
                // console.log('IsSingle=' + currentIsSingleFlag);
                
                var dropdowns = document.getElementsByClassName('dropdown');
                for (var j = 0; j < dropdowns.length; j++) {
                    dropdowns[j].style.display = 'none';
                }
                document.getElementById(currentIsSingleFlag + '-dropdown').style.display = 'block';
                
                if(currentIsSingleFlag == 0) {
                    $('#Sex').empty();
                    $('#Sex').append('<option value="' + sexId + '">' + sexId + '</option>');

                }
                callback(currentIsSingleFlag);
            }
        });
    }

    function getPlayerList(sitemID, siSex, siMinAG, siMaxAG, teamID, SsID, callback) {

        let currentPlayerList = [];
        $.ajax({
            url: '/ctfcitemplayer/getSeasonTeamPlayers',
            type: 'Get',
            dataType: 'json',
            data: {
            SiMinAG: siMinAG,
            SiMaxAG: siMaxAG,
            SiID: sitemID,
            SiSex: siSex,
            Tmid: teamID,
            SsID,SsID
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
            currentPlayerList = data['affectedRows'];
            // console.log('PlayerList=' + currentPlayerList);
            callback(currentPlayerList);
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });
    }

    function updatePlayerList(currentItemid, currentSex, seasonitemFiltersMinAG,seasonitemFiltersMaxAG, SelectedTeamID, SelectedSeasonID) {
        // console.log("SelectedSeasonID: " + SelectedSeasonID);
        // console.log("currentItemid: " + currentItemid);
        // console.log("currentSex: " + currentSex);
        // console.log("SelectedTeamID: " + SelectedTeamID);
        // console.log("seasonitemFiltersMin Age: " + seasonitemFiltersMinAG);
        // console.log("seasonitemFiltersMax Age: " + seasonitemFiltersMaxAG);
                
        getPlayerList(currentItemid, currentSex, seasonitemFiltersMinAG,seasonitemFiltersMaxAG, SelectedTeamID, SelectedSeasonID, function(currentPlayerList) {
            // console.log('PlayerList=' + currentPlayerList);
            $('#PlayerIDSet1').empty();
            $('#PlayerIDSet1').append('<option value="">' + "选择参赛队员" + '</option>');
            $('#PlayerIDSet2').empty();
            $('#PlayerIDSet2').append('<option value="">' + "选择参赛队员" + '</option>');
            $('#PlayerIDSet3').empty();
            $('#PlayerIDSet3').append('<option value="">' + "选择参赛队员" + '</option>');
            
            $('#PlayerIDSet4').empty();
            $('#PlayerIDSet4').append('<option value="">' + "选择参赛队员" + '</option>');
            $('#PlayerIDSet5').empty();
            $('#PlayerIDSet5').append('<option value="">' + "选择参赛队员" + '</option>');
            $('#PlayerIDSet6').empty();
            $('#PlayerIDSet6').append('<option value="">' + "选择参赛队员" + '</option>');
            
            axios.get('/CTFCPlayer?all=1', {}).then(function (response) {
                $.each(response.data.data, function (index, item) {
                    if(currentPlayerList.includes(item.ID)) {
                        $('#PlayerIDSet1').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        $('#PlayerIDSet2').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        $('#PlayerIDSet3').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        $('#PlayerIDSet4').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        $('#PlayerIDSet5').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        $('#PlayerIDSet6').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                    }
                });
            }).catch(function (error) {
                console.log(error);
            });
        });
    }

    function getAgeRange(seasonAgeGroupID, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getAgeRangeSeasonItem',
            type: 'Get',
            dataType: 'json',
            data: {
            SiAgeGroupID: seasonAgeGroupID,
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
                ageRange = data['affectedRows'];
                console.log('ageRange=' + ageRange);
                callback(ageRange); // Call the callback function with the ageRange
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });
    }

    function updatePlayerListForRelay(currentItemid, currentSex, seasonAgeGroupID, SelectedTeamID, CurrentSeasonID) {
        console.log("CurrentSeasonID: " + CurrentSeasonID);
        console.log("currentItemid: " + currentItemid);
        console.log("currentSex: " + currentSex);
        console.log("SelectedTeamID: " + SelectedTeamID);
        console.log("seasonAgeGroupID: " + seasonAgeGroupID);

        getAgeRange(seasonAgeGroupID, function(ageRange){
            // console.log('in getAgeRange() ageRange=' + ageRange);
            getPlayerList(currentItemid, currentSex, ageRange[0],ageRange[1], SelectedTeamID, CurrentSeasonID, function(currentPlayerList) {
                console.log('PlayerList=' + currentPlayerList);
                for (var i = 1; i < 7; i++) {
                    $('#PlayerID' + i).empty();
                    $('#PlayerID' + i).append('<option value="">' + "选择队员 (必填)" + '</option>');
                }
                
                axios.get('/CTFCPlayer?all=1', {}).then(function (response) {
                    $.each(response.data.data, function (index, item) {
                        if(currentPlayerList.includes(item.ID)) {
                            $('#PlayerID1').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                            $('#PlayerID2').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                            $('#PlayerID3').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                            $('#PlayerID4').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                            $('#PlayerID5').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                            $('#PlayerID6').append('<option value="' + item.ID + '">' + item.Name + '</option>');
                        }
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            });
        });
    }

    function getPlayerAgeSex(playerid, callback) {
        $.ajax({
            url: '/ctfcitemplayer/getAgeSex',
            type: 'Get',
            dataType: 'json',
            data: {
            PlayerID: playerid
            },
            header: {
            Accept: 'application/json'
            },
            success: function (data) {
            playerAgeAndSex = data['affectedRows'];
            callback(playerAgeAndSex[0], playerAgeAndSex[1]);
            },
            error: function (xhr) {
            console.log(xhr.status);
            }
        });

    }

    // getting select options for season. 
    axios.get('/CTFCSeason', {}).then(function (response) {
            console.log(response);
            const data = response.data.data;
        $.each(data, function (index, item) {
        $('#SeasonID').append('<option value="' + item.ID + '">' + item.Name + '</option>');
        });
    }).catch(function (error) {
            console.log(error);
    });


    // Event listener for the SeasonID select change
    $('#SeasonID').on('change', function () {
        var selectedSeasonID = $(this).val();
        if (!selectedSeasonID) {
            // Empty the TeamID select options
            $('#TeamID').empty();
            $('#TeamID').append('<option value="">' + "选择队伍" + '</option>');
            $('#ItemID').empty();
            $('#ItemID').append('<option value="">' + "选择项目" + '</option>');
            return;
        }

        // Get Seasonteam
        axios.get('/CTFCSeasonteam?seasonid=' + selectedSeasonID, {}).then(function (response) {
        // console.log(response);
            const data = response.data.data;

        $('#TeamID').empty();
        $('#TeamID').append('<option value="">' + "选择队伍" + '</option>');

        if (data.length !== 0) {
            $.each(data, function (index, item) {
                $('#TeamID').append('<option value="' + item.TeamID + '">' + item.TeamName + '</option>');
            });
            }
        }).catch(function (error) {
                console.log(error);
        });

        // Get Seasonitem
        axios.get('/CTFCSeasonitem?seasonid=' + selectedSeasonID, {}).then(function (response) {
        // console.log(response);
            const data = response.data.data;

        $('#ItemID').empty();
        $('#ItemID').append('<option value="">' + "选择项目" + '</option>');

        if (data.length !== 0) {
            $.each(data, function (index, item) {
                $('#ItemID').append('<option value="' + item.ItemID + '-' + item.Sex + '">' + item.Sex + " - " + item.ItemName +  '</option>');

            });
            }
        }).catch(function (error) {
                console.log(error);
        });

    });


    $('#ItemID').on('change', function () {
        var selectedItemSex = $(this).val().split("-");;
        var xiangmu = selectedItemSex[0];
        var xiangmuSex = selectedItemSex[1];
        var SelectedTeamID = document.getElementById('TeamID').value;
        var SelectedSeasonID = document.getElementById('SeasonID').value;
        CheckIsSingle(xiangmu, xiangmuSex, function(currentIsSingleFlag) {
            // Multiple player item
            if(currentIsSingleFlag == 0) {
                // Update playerlist if AgeGroupID is already selected
                currentAgeID = document.getElementById('AgeGroupID').value;   
                if(currentAgeID) {
                    var checkAgeGroupID;
                    axios.get('/CTFCAgegroup?id=' +currentAgeID, {}).then(function (response) {
                        $.each(response.data.data, function (index, element) {
                            console.log(element.ID + "-" +element.MinAge +  "-" +element.MaxAge );
                            checkAgeGroupID = element.ID;
                        });
                        updatePlayerListForRelay(xiangmu, xiangmuSex, checkAgeGroupID, SelectedTeamID, SelectedSeasonID);
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
                // Update AgeGroup option feild
                $('#AgeGroupID').empty();
                $('#AgeGroupID').append('<option value="">' + "选择年龄组" + '</option>');
                axios.get('/ctfcitemseasonitemagegroupview?seasonid=' + SelectedSeasonID, {}).then(function (response) {
                    var seasonitemFiltersMinA;
                    var seasonitemFiltersMaxA;
                    $.each(response.data.data, function (index, item) {
                        if(item.ItemID == xiangmu && item.Sex == xiangmuSex) {
                            seasonitemFiltersMinA = item.MinAgeGroupMinAge;
                            seasonitemFiltersMaxA = item.MaxAgeGroupMaxAge;                            
                        }
                    });
                    axios.get('/CTFCAgegroup', {}).then(function (response) {
                        var newArray = [];
                        $.each(response.data.data, function (index, element) {
                            newArray.push([element.ID, [element.MinAge, element.MaxAge, element.Name]]);
                        });
                        // console.log(newArray); 
                        for (var i = 0; i < newArray.length; i++) {
                            var element = newArray[i];
                            var minAge = element[1][0];
                            var maxAge = element[1][1];
                            var AgeGroupName = element[1][2];
                            if (minAge >= seasonitemFiltersMinA && maxAge <= seasonitemFiltersMaxA) {
                                console.log('ID ' + element[0] + ' falls within the range.');
                                $('#AgeGroupID').append('<option value="' + element[0] + '">' + AgeGroupName + ' ' + minAge + '-' + maxAge + '</option>');
                            }
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            } else { // single player only update playerlist
                // console.log("CheckIsSingle:"+currentIsSingleFlag);
                axios.get('/ctfcitemseasonitemagegroupview?seasonid=' + SelectedSeasonID, {}).then(function (response) {
                    const data = response.data.data;
                    $.each(response.data.data, function (index, item) {
                        if(item.ItemID == xiangmu && item.Sex == xiangmuSex) {
                            seasonitemFiltersMinAG = item.MinAgeGroupMinAge;
                            seasonitemFiltersMaxAG = item.MaxAgeGroupMaxAge;

                            updatePlayerList(xiangmu, xiangmuSex, seasonitemFiltersMinAG,seasonitemFiltersMaxAG, SelectedTeamID, SelectedSeasonID);
                        }
                    });
                }).catch(function (error) {
                    console.log(error);
                });
            }
        });
    });


    $('#AgeGroupID').on('change', function () {
        var currentAgeGroupid = $(this).val();
        var selectedItemSex = document.getElementById('ItemID').value.split("-");;
        var xiangmu = selectedItemSex[0];
        var xiangmuSex = selectedItemSex[1];
        var SelectedTeamID = document.getElementById('TeamID').value;
        var SelectedSeasonID = document.getElementById('SeasonID').value; 
        for (var i = 1; i < 7; i++) {
            $('#PlayerID' + i).empty();
            $('#PlayerID' + i).append('<option value="">' + "选择队员# (必填)" + '</option>');
        }
        axios.get('/CTFCAgegroup?id=' +currentAgeGroupid, {}).then(function (response) {
            var checkAgeGroupID;
            $.each(response.data.data, function (index, element) {
                console.log(element.ID + "-" +element.MinAge +  "-" +element.MaxAge );
                checkAgeGroupID = element.ID;
            });
            updatePlayerListForRelay(xiangmu, xiangmuSex, checkAgeGroupID, SelectedTeamID, SelectedSeasonID);
        }).catch(function (error) {
        console.log(error);
        });

    });

    // Single player option button
    // $('#PlayerID').on('change', function () {
    //     var playerid = document.getElementById('PlayerID').value;
    //         $('#AgeGroupIDSingle').empty();
    //         $('#SexSingle').empty();

    //         getPlayerAgeSex(playerid, function(playerAgeGroup, playerSex){
    //             axios.get('/CTFCAgegroup', {}).then(function (response) {
    //                 // console.log(response);
    //                 $.each(response.data.data, function (index, element) {
    //                     if(playerAgeGroup == element.ID) {
    //                         $('#AgeGroupIDSingle').append('<option value="' + element.ID + '">' + element.Name + ' ' + element.MinAge + '-' + element.MaxAge + '</option>');
    //                     }
    //                 });
    //             })
    //             //get Sex option from seasonitem option
    //             const parts = document.getElementById('ItemID').value.split("-");
    //             xiangmu = parts[0];
    //             xiangmuSex = parts[1];
    //             $('#SexSingle').append('<option value="' + xiangmuSex + '">' + xiangmuSex + '</option>');
    //     });
    // });




</script>