<div class="inside-banner img_3-banner block">
    <h3>{$CompetitionName}比赛</h3>
    <p>查看{$playertitle}的所有球员</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">球员</span>
    </div>
</div>
</div>
<div class="athlete-wrap">
    <div class="block">
        <div class="all-box">
            <div class="list-box active">
                <div class="row clearfix">
                    {volist name="players" id="player"  empty='暂没球员信息！'}
                    <div class="col-md-2">
                      <a href="{:url('index/bbplayer/read',['id'=>$player.PlayerID])}">
                            <div class="item-box">
                                <div class="img-box">
                                  <img src="{$Think.config.public_assets}/uploads/{$player.PlayerPhotoSrc}">
                                </div>
                                <div class="txt-box">
                                  {$player.Number}号 {$player.PlayerName}
                                </div>
                            </div>
                        </a>
                    </div>
                    {/volist}
                </div>
                <div class="page-box">
                    {$pagerender}
                </div>
            </div>

        </div>
    </div>

</div>
