<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="inside-banner block track-banner">
    <h3>组建田径队伍</h3>
    <!-- To be injected... -->
    <p>加入{$season['Name']}，团结拼搏，一起奉献。</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">组建田径队伍</span>
    </div>
</div>
</div>
<div class="link-wrap block clearfix">
    <div class="txt-box">
        <h3>填写有关信息，组建田径队伍，加入{$season['Name']}</h3>
        <ul>
            <li>请填写正确队名  </li>
            <li>填下正确的联系方式</li>
            <li>审核后将通过电子邮件通知结果</li>
        </ul>
    </div>
    <form action="" id="apply-form" method="post" enctype="multipart/form-data">
    <div class="form-box" >
        <div class="input-box-select-team" style="margin-bottom: 20px;">
        <!-- <div class="input-box"> -->
            <label>新建/选择队伍：</label>
            <select name="TeamID" id="TeamID" style="width: 100%; height:40px; border: 1px solid #e6e6e6;">
                <option value=0>新建队伍</option>
                {foreach $teams as $team}
                    <option value="{$team['ID']}">{$team['Name']}</option>
                {/foreach}
            </select>
        </div>
        <div class="input-box" id="TeamNameDiv" style="margin-left: 0px;"> 
            <input type="text" name="Name" id="TeamName" placeholder="队伍全名：">
        </div>
        <div class="input-box" id="ShortNameDiv" style="margin-left: 20px;">
            <input type="text" name="ShortName" id="ShortName" placeholder="队伍短名：">
        </div>
        <div class="input-box" id="CaptainNameDiv" style="margin-left: 0px;">
            <input type="text" name="CaptainName" id="CaptainName" placeholder="队长姓名：">
        </div>
        <div class="input-box" id="CaptainEmailDiv" style="margin-left: 20px;">
            <input type="text" name="CaptainEmail" id="CaptainEmail" placeholder="队长联系邮件：">
        </div>
        <div class="input-box" id="CaptainPhoneDiv" style="margin-left: 0px;">
            <input type="text" name="CaptainPhone" id="CaptainPhone" placeholder="队长电话：">
        </div>
        <div class="input-box up_pic-box" id="LogoFileDiv" style="margin-left: 20px;">
            <p style="line-height: 30px; margin-left: 5px">上传LOGO（背景透明）</p>
            <!--<div id="drop_area"></div>-->
            <input type="file" name="Logo" id="logofile" />
        </div>
        <div class="input-box up_pic-box" id="PhotoFileDiv" style="margin-left: 0px;">
            <p style="line-height: 30px; margin-left: 5px">上传合照</p>
            <!--<div id="drop_area_2"></div>-->
            <input type="file"  name="Photo" id="photofile" />
        </div>
        <div class="input-box up_pic-box" style="margin-left: 20px;">
            <div class="g-recaptcha" style="transform:scale(0.8); transform-origin:0 0;" data-sitekey="6Let_GUpAAAAALnTW5ROhrmttUZ3rz8KMH2LeiX9"></div>
            <input type="hidden" name="recaptchaResponse" id="recaptchaResponse"> 
        </div>
        <div class="input-box textarea-box" id="DescriptionDiv">
            <textarea placeholder="简介：" name="Description" id="Description"></textarea>
        </div>
        <div class="sub">发送</div>
    </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript">

        function DragImgUpload(id,options) {
            this.me = $(id);
            var defaultOpt = {
                boxWidth:'150px',
                boxHeight:'100px'
            }
            this.preview = $('<div id="preview"><img src="{$Think.config.public_assets}/images/add.png" class="img-responsive"  alt="" title=""> </div>');
            this.opts=$.extend(true, defaultOpt,{
            }, options);
            this.init();
            this.callback = this.opts.callback;
            this.fileInput = this.opts.fileInput;
        }

        //定义原型方法
        DragImgUpload.prototype = {
            init:function () {
                this.me.append(this.preview);
                this.me.append(this.fileupload);
                this.cssInit();
                this.eventClickInit();
            },
            cssInit:function () {
                this.me.css({
                    'width':this.opts.boxWidth,
                    'height':this.opts.boxHeight,
                    'border':'1px solid #cccccc',
                    'padding':'10px',
                    'cursor':'pointer'
                })
                this.preview.css({
                    'height':'100%',
                    'overflow':'hidden'
                })

            },
            onDragover:function (e) {
                e.stopPropagation();
                e.preventDefault();
                e.dataTransfer.dropEffect = 'copy';
            },
            onDrop:function (e) {
                var self = this;
                e.stopPropagation();
                e.preventDefault();
                var fileList = e.dataTransfer.files; //获取文件对象
                // do something upload
                if(fileList.length == 0){
                    return false;
                }
                //检测文件是不是图片
                if(fileList[0].type.indexOf('image') === -1){
                    alert("您拖的不是图片！");
                    return false;
                }

                //拖拉图片到浏览器，可以实现预览功能
                var img = window.URL.createObjectURL(fileList[0]);
                var filename = fileList[0].name; //图片名称
                var filesize = Math.floor((fileList[0].size)/1024);
                if(filesize>500){
                    alert("上传大小不能超过500K.");
                    return false;
                }

                self.me.find("img").attr("src",img);
                self.me.find("img").attr("title",filename);
                if(this.callback){
                    this.callback(fileList);
                }
            },
            eventClickInit:function () {
                var self = this;
                this.me.unbind().click(function () {
                    self.createImageUploadDialog();
                })
                var dp = this.me[0];
                dp.addEventListener('dragover', function(e) {
                    self.onDragover(e);
                });
                dp.addEventListener("drop", function(e) {
                    self.onDrop(e);
                });


            },
            onChangeUploadFile:function () {

                var fileInput = this.fileInput;
                var files = fileInput.files;
                var file = files[0];
                var img = window.URL.createObjectURL(file);
                var filename = file.name;
                this.me.find("img").attr("src",img);
                this.me.find("img").attr("title",filename);
                if(this.callback){
                    this.callback(files);
                }
            },
            createImageUploadDialog:function () {
                var fileInput = this.fileInput;
 //               if (!fileInput) {
 //                   //创建临时input元素
                    fileInput = document.createElement('input');
                    //设置input type为文件类型
                    fileInput.type = 'file';
                    //设置文件name
 //                   fileInput.name = 'ime-images';
                    //允许上传多个文件
                    fileInput.multiple = true;
                    fileInput.onchange  = this.onChangeUploadFile.bind(this);
                    this.fileInput = fileInput;
 //               }
                //触发点击input点击事件，弹出选择文件对话框
                fileInput.click();
            }
        }

        // selection change
        $('#TeamID').change(function(){
            var teamID = $(this).val();
            if(teamID == 0){
                $('#TeamName').val("");
                $('#TeamName').prop("disabled", false);
                $('#TeamNameDiv').show();

                $('#ShortName').val("");
                $('#ShortName').prop("disabled", false);
                $('#ShortNameDiv').show();

                $('#CaptainName').val("");
                $('#CaptainName').prop("disabled", false);
                $('#CaptainNameDiv').show();

                $('#CaptainEmail').val("");
                $('#CaptainEmail').prop("disabled", false);
                $('#CaptainEmailDiv').show();

                $('#CaptainPhone').val("");
                $('#CaptainPhone').prop("disabled", false);
                $('#CaptainPhoneDiv').show();

                $('#LogoFile').val("");
                $('#LogoFile').prop("disabled", false);
                $('#LogoFileDiv').show();

                $('#PhotoFile').val("");
                $('#PhotoFile').prop("disabled", false);
                $('#PhotoFileDiv').show();

                $('#Description').val("");
                $('#Description').prop("disabled", false);
                $('#DescriptionDiv').show();
            } else {
                // get team info
                axios.get('/ctfcteam/' + teamID).then(function(response){
                    var data = response.data.data;
                    $('#TeamName').val(data.Name); // 必须存在，后端要用
                    $('#CaptainName').val("队长：" + data.CaptainName);
                    $('#CaptainName').prop("disabled", true);
                    $('#CaptainEmail').val("邮箱：" + data.CaptainEmail);
                    $('#CaptainEmail').prop("disabled", true);
                    $('#CaptainPhone').val("电话：" + data.CaptainPhone);
                    $('#CaptainPhone').prop("disabled", true);
                    $('#Description').val(data.Description);
                    $('#Description').prop("disabled", true);
                }) 
                $('#ShortNameDiv').hide();
                $('#TeamNameDiv').hide();
                $('#LogoFileDiv').hide();
                $('#PhotoFileDiv').hide();
            }
            return;
        });

        // Apply button is clicked.
        $(".sub").click(function(){

            if($('input[name=TeamID]').val() == 0 &&    // new team
                ($('input[name=Name]').val()=="" ||
                $('input[name=ShortName]').val()=="" ||
                $('input[name=CaptainName]').val()=="" ||
                $('input[name=CaptainPhone]').val()=="")
            )
            {
                alert('申请信息不完整，请检查。');
                return false;
            }
            if (grecaptcha.getResponse() == ""){
                alert('请完成验证码');
                return false;
            }

            let recaptchaResponse = document.getElementById('recaptchaResponse');
            recaptchaResponse.value = grecaptcha.getResponse();

            // existing team
            if ($('input[name=TeamID]').val() != 0){
                $("form").submit();
            }

            var reg1 = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)/;
            if(reg1.test( $('input[name=CaptainEmail]').val() ) == false) {
                alert('邮箱格式不正确');
                return false;
            }

            $("form").submit();
        });
    </script> 
</div>
