<div class="inside-banner block img_1-banner">
    <h3>申请加入</h3>
    <p>篮球一起奋斗一起拼搏一起奉献，没有自私，没有不信任，永不言弃、团结拼搏。</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">申请加入</span>
    </div>
</div>
</div>
<div class="link-wrap block clearfix">
    <div class="txt-box" style="width:100%">
        <h3>
        </h3><h3>
    </h3><h3>
    </h3><h3>
    </h3><h3 style="
    text-align: center;
">{$applyresult}</h3>
        <h4 style="
    text-align: center;
"><a href="javascript:history.go(-1)">返回上级</a></h4>
    </div>

</div>