<div class="container block" style="background-color: #fff;">
    <h3>第1，2名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd</p>
                        <p class="winner-team">TBD    分数</p>
                        <p>TBD    分数</p>
                    </div> 
                    <ul>
                        <li> 
                            <div>
                                <p class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div>
                            <ul>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                            </ul>
                        </li>
                        <li> 
                            <div>
                                <p class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div>
                            <ul>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <h3>第3,4名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd</p>
                        <p class="winner-team">TBD    分数</p>
                        <p>TBD    分数</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <h3>第5,6名：</h3>
    <div class = "row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p  class="time">yyyy/mm/dd</p>
                        <p>TBD    分数</p>
                        <p>TBD    分数</p>
                    </div> 
                    <ul>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                        </li>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <h3>第7,8名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd</p>
                        <p class="winner-team">TBD    分数</p>
                        <p>TBD    分数</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <h3>第9，10名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd</p>
                        <p>TBD    分数</p>
                        <p>TBD    分数</p>
                    </div>
                    <ul>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                            <ul>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                            </ul>
                        </li>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                            <ul>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                                <li> 
                                    <div>
                                        <p  class="time">yyyy/mm/dd</p>
                                        <p>TBD    分数</p>
                                        <p>TBD    分数</p>
                                    </div> 
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <h3>第11,12名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd hh/mm</p>
                        <p class="winner-team">TBD    分数</p>
                        <p>TBD    分数</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <h3>第13,14名：</h3>
    <div class = "row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p  class="time">yyyy/mm/dd hh/mm</p>
                        <p>TBD    分数</p>
                        <p>TBD    分数</p>
                    </div> 
                    <ul>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd hh/mm</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                        </li>
                        <li> 
                            <div>
                                <p  class="time">yyyy/mm/dd hh/mm</p>
                                <p>TBD    分数</p>
                                <p>TBD    分数</p>
                            </div> 
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <h3>第15,16名：</h3>
    <div class="row">
        <div class="tree ordinary">
            <ul>
                <li> 
                    <div>
                        <p class="time">yyyy/mm/dd hh/mm</p>
                        <p class="winner-team">TBD    分数</p>
                        <p>TBD    分数</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>