<div class="inside-banner block statistics-banner">
    <h3>{$thisseason['CompetitionName']}比赛</h3>
    <p>查看{$thisseason['SeasonName']}的积分榜</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span>
        <a href="{:url('index/index/index')}">首页</a>
        <span class="icon-arrow-right arrow_icon icon"></span>
        <a href="{:url('index/bbseason/read',['id'=>$thisseason['SeasonID']])}">{$thisseason['SeasonName']}</a><span class="icon-arrow-right arrow_icon icon"></span>
        <span class="active">积分榜</span>
    </div>
</div>
<!-- TODO: ending div to end .index-top, which is in another file. Anti pattern -->
</div>
<div class="pro-wrap">
  <div class="clearfix block">
    <div class="public-left">
      {foreach name="teamrankresult" item="group" key="group_chr"}
			  <div class="title-box">
          {if condition="$group_chr eq '@'"}
            {$thisseason['SeasonName']} - 积分榜
          {else/}
            {$group_chr}组积分榜
          {/if}
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>排行</th>
              <th>球队</th>
              <th>胜场</th>
              <th>负场</th>
              <th>弃权</th>
              <th>得分</th>
              <th>失分</th>
              <th>净胜分</th>
              <th>积分</th>
            </tr>
          </thead>
          <tbody>
            {if condition="!$group"}
              <tr>
                <td>积分榜无法显示！</td>
              </tr>
            {/if}
            {volist name="group" id="team"}
              <tr>
                <td>{$i}</td>
                <td><a href="{:url('index/bbteam/read', ['id'=>$team['ID']])}">{$team['ShortName']}</td>
                <td>{$team['Wins']}</td>
                <td>{$team['Losses']}</td>
                <td>{$team['Forfeits']}</td>
                <td>{$team['PointGet']}</td>
                <td>{$team['PointLose']}</td>
                <td>{$team['PointDiff']}</td>
                <td>{$team['RankPoints']}<td>
              </tr>
            {/volist}
          </tbody>
        </table>
      {/foreach}
  </div>
  <div class="public-right">
    <div class="tab-box">
      <h3>项目信息</h3>
      <ul>
        <li><a href="{:url('index/bbseason/read',['id'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>赛程</a></li>
        <li><a href="{:url('index/bbteam/lists',['seasonid'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>球队</a></li>
        <li><a href="{:url('index/bbplayer/lists')}?competitionid={$thisseason['CompetitionID']}&seasonid={$thisseason['SeasonID']}"><span class="icon-chevron-right2 icon"></span>球员</a></li>
        <li>
          <dl>
            <dt>常规赛</dt>
              <dd class="active"><a href="{:url('index/bbteam/rank',['seasonid'=>$thisseason['SeasonID']])}">积分榜<span class="icon-chevron-right2 icon"></a></dd>
              <dd><a href="{:url('index/bbstatistics/lists')}?seasonid={$thisseason['SeasonID']}&playoff=0&ofield=Points&desc=1">技术统计<span class="icon-chevron-right2 icon"></a></dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>季后赛</dt>
              <!-- divided into 3 page for different layout -->
              {if condition="$competitionid eq 1"}
              <dd><a href="{:url('index/bbteam/rankplayoff_men',['seasonid'=>$thisseason['SeasonID']])}">积分榜<span class="icon-chevron-right2 icon"></a></dd>
              {/if}
              {if condition="$competitionid eq 2"}
              <dd><a href="{:url('index/bbteam/rankplayoff_women',['seasonid'=>$thisseason['SeasonID']])}">积分榜<span class="icon-chevron-right2 icon"></a></dd>
              {/if}
              {if condition="$competitionid eq 4"}
              <dd><a href="{:url('index/bbteam/rankplayoff_men_senior',['seasonid'=>$thisseason['SeasonID']])}">积分榜<span class="icon-chevron-right2 icon"></a></dd>
              {/if}
              <dd><a href="{:url('index/bbstatistics/lists')}?seasonid={$thisseason['SeasonID']}&playoff=1&ofield=Points&desc=1">技术统计<span class="icon-chevron-right2 icon"></a></dd>
          </dl>
        </li>
        <li><a href="{:url('index/bbteam/apply',['seasonid'=>$thisseason['SeasonID']])}"><span class="icon-chevron-right2 icon"></span>加入赛事</a></li>
        <li>
          <dl>
            <dt>其他赛季</dt>
              {volist name="otherseasons" id="otherseason" empty='暂没其他赛季信息！'}
                <dd><a href="{:url('index/bbseason/read',['id'=>$otherseason['SeasonID']])}">{$otherseason['SeasonName']}<span class="icon-chevron-right2 icon"></a></dd>
              {/volist}
          </dl>
        </li>
      </ul>
    </div>
    <div class="show-box">
      <div class="img-box"><img src="images/icon_10.png" alt=""></div>
        <h3>现在开始</h3>
          <p>加入协会并参与比赛!</p>
          <a href="{:url('index/bbteam/apply',['seasonid'=>$thisseason['SeasonID']])}">加入赛事<span class="icon-chevron-right icon"></span></a>
    </div>
  </div>
</div>
