<div class="inside-banner block track-banner">
    <h3>田径赛会 - {$thisseason['Name']}</h3>
    <p>查看{$thisseason['Name']}比赛赛程</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">田径赛会</span>
    </div>
</div>
</div>
<div class="pro-wrap">
    <div class="clearfix block">
        <div class="filter-form">
            <form method="get" action="{:url('index/ctfcseason/filter', ['id'=>$thisseason['ID']])}">
                <label for="itemName">项目名称:</label>
                <select id="itemName" name="itemName">
                    <option value="" {if condition="isset($filter['itemName']) and $filter['itemName'] eq ''"}selected{/if}>全选</option>
                    {volist name="itemNames" id="name"}
                        <option value="{$name}" {if condition="isset($filter['itemName']) and $filter['itemName'] eq $name"}selected{/if}>{$name}</option>
                    {/volist}
                </select>
        
                <label for="gender">性别:</label>
                <select id="gender" name="gender">
                    <option value="" {if condition="isset($filter['gender']) and $filter['gender'] eq ''"}selected{/if}>全选</option>
                    <option value="M" {if condition="isset($filter['gender']) and $filter['gender'] eq 'M'"}selected{/if}>M</option>
                    <option value="F" {if condition="isset($filter['gender']) and $filter['gender'] eq 'F'"}selected{/if}>F</option>
                    <option value="Mix" {if condition="isset($filter['gender']) and $filter['gender'] eq 'Mix'"}selected{/if}>Mix</option>
                </select>
        
                <select id="ageGroupName" name="ageGroupName">
                    <option value="" {if condition="isset($filter['ageGroupName']) and $filter['ageGroupName'] eq ''"}selected{/if}>全选</option>
                    {volist name="ageGroupNames" id="name"}
                        <option value="{$name}" {if condition="isset($filter['ageGroupName']) and $filter['ageGroupName'] eq $name"}selected{/if}>{$name}</option>
                    {/volist}
                </select>
                
                <input type="submit" value="Search">
                <button type="button" onclick="window.location.href='{:url('index/ctfcseason/read', ['id'=>$thisseason['ID']])}'">Reset</button>
            </form>
        </div>  
        <br/>                          
        <div class="public-left">
            <table class="table">
                <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Heat ID</th>
                    <th>性别</th>
                    <th>项目名称</th>
                    <th>年龄组</th>
                    <th>运动员-号码牌</th>
                    <th>队名</th>
                    <th>道次</th>
                    <th>成绩</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                    {if condition="!$matches"}
                    <tr>
                        <td>赛程暂时为空！</td>
                    </tr>
                    {/if}
                    {volist name="matches" id="match" }
                    <tr>
                        <td>{$match['EventID']}</td>
                        <td>{$match['HeatID']}</td>
                        <td>{$match['Gender']}</td>
                        <td>{$match['ItemName']}</td>
                        <td>{$match['AgeGroupName']}</td>
                        <td>
                            <!-- always show Player1 -->
                            {$match['Player1']}
                            <!-- For Player 2~6, show only if exists -->
                            {for start="2" end="7"}
                                {if condition="$match['Player' . $i] neq ''"}
                                    <!-- add a comma before every second player -->
                                    {if condition="$i % 2 eq 0"}
                                    , 
                                    {/if}
                                    <!-- show the Player i -->
                                    {$match['Player' . $i]}
                                    <!-- add a line break after every second player -->
                                    {if condition="$i % 2 eq 0"}
                                    <br/>
                                    {/if}
                                {/if}
                            {/for}
                        </td>
                        <td>{$match['TeamName']}</td>
                        <td>{$match['LaneNumber']}</td>
                        <td>{$match['Result']}</td>
                        <td>{$match['Note']}</td>

                    </tr>
                    {/volist}
                    </tbody>
            </table>
        </div>
        <div class="public-right">
            <div class="tab-box">
                <h3>项目信息</h3>
                <ul>

                    <li class="active"><a href="
                        {if condition="$thisseason['ID'] eq 'recent'"}
                        {:url('index/ctfcseason/readrecent')}
                        {else/}
                        {:url('index/ctfcseason/read',['id'=>$thisseason['ID']])}
                        {/if}"><span class="icon-chevron-right2 icon"></span>比赛列表</a></li>
                    <li><a href="{:url('index/ctfcteam/lists',['seasonid'=>$thisseason['ID']])}"><span class="icon-chevron-right2 icon"></span>田径团队</a></li>
                    <li><a href="{:url('index/Ctfcplayer/lists')}"><span class="icon-chevron-right2 icon"></span>田径队员</a></li>
                    <li>
                        <dl>
                            <dt>其他赛季</dt>
                            
                            {volist name="otherseasons" id="otherseason"  empty='暂没其他赛季信息！'}
                            <dd><a href="{:url('index/ctfcseason/read',['id'=>$otherseason['ID']])}">{$otherseason['Name']}<span class="icon-chevron-right2 icon"></a></dd>
                            {/volist}
                                
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>加入赛事</dt>
                            
                            <dd><a href="{:url('index/ctfcteam/getapply',['seasonid'=>$thisseason['ID']])}">田径队注册<span class="icon-chevron-right2 icon"></a></dd>
                            <dd><a href="{:url('index/ctfcplayer/getapply',[])}">运动员注册<span class="icon-chevron-right2 icon"></a></dd>
                            <dd><a href="{:url('index/ctfcitemplayer/registeritemplayer',['seasonid'=>$thisseason['ID']])}">报名项目<span class="icon-chevron-right2 icon"></a></dd>
                            </dl>
                        
                    </li>
                    
                </ul>
            </div>
            <div class="show-box">
                <div class="img-box"><img src="images/icon_10.png" alt=""></div>
                <h3>NEWSLETTER SIGNUP</h3>
                <p>FOR THE LATEST  NEWS & FREE GIVEAWAYS!</p>
                <a href="#">加入赛事<span class="icon-chevron-right icon"></span></a>
            </div>
        </div>
    </div>
</div>