<div class="inside-banner block">
    <div class="container">
        <div class="row">
            <div class="tree ordinary">
                <ul>
                    <li> <div><p class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                    <ul>
                        <li> <div><p class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div>
                        <ul>
                            <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                                <ul>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                </ul>
                            </li>
                            <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                                <ul>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                </ul>
                            </li>
                        </ul>
                        </li>
                        <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div>
                        <ul>
                            <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                                <ul>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                </ul>
                            </li>
                            <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                                <ul>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                    <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                </ul>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>
        </div>

        <h3>以下为失败组的赛程：</h3>
        <div class="container">
            <div class="row">
                <div class="tree ordinary">
                    <ul>
                        <li> <div><p class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> 
                        <ul>
                            <li> <div><p class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div>
                            <ul>
                                <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                            </ul>
                            </li>
                            <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div>
                            <ul>
                                <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                                <li> <div><p  class="time">yyyy/mm/dd hh/mm</p><p>TBD</p><p>TBD</p></div> </li>
                            </ul>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>