
<div class="inside-banner block statistics-banner">
    <h3>文字直播</h3>
    <p>查看 {$result.TeamAShortName} VS {$result.TeamBShortName}的文字直播</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="{:url('index/index/index')}">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">文字直播</span>
    </div>
</div>
</div>
<div class="news-wrap">
    <div class="clearfix block">
        <div class="news_des-box">
            <div class="title-box">
                <h3>{$result.TeamAShortName} VS {$result.TeamBShortName}的文字直播</h3>
            </div>
            <div class="content-box">
                {$result.Report}
            </div>
        </div>
    </div>
</div>
