<div class="inside-banner block img_1-banner">
    <h3>申请加入</h3>
    <p>一起奋斗一起拼搏一起奉献，没有自私，没有不信任，永不言弃、团结拼搏。</p>
</div>
<div class="site-box">
    <div class="block">
        <span class="icon-home home_icon icon"></span><a href="">首页</a><span class="icon-arrow-right arrow_icon icon"></span><span class="active">申请加入</span>
    </div>
</div>
</div>
<div class="link-wrap block clearfix">
    <div class="txt-box">
        <h3>填写有关信息，成为选手/团队加入协会田径比赛</h3>
        <ul>
            <li>确认个体参赛还是团队参赛</li>
            <li>填下正确的联系方式</li>
            <li>审核后将通过电子邮件通知结果</li>
        </ul>
    </div>
    <form action="" id="apply-form" method="post" enctype="multipart/form-data">
    <div class="form-box" >
        <div class="input-box">
            <input type="text" name="Name" placeholder="选手/团队名称">
        </div>
        <div class="input-box">
            <input type="text" name="Leader" placeholder="团队负责人（团队参赛填写）">
        </div>
        <div class="input-box" style="border: none">
            类型：
            <input type="radio" name="Individual" value="1" placeholder="个人" style="width: 30px;height: 100%" checked>个人
            <input type="radio" name="Individual" value="0" placeholder="团体" style="width: 30px;height: 100%">团体
        </div>
        <div class="input-box">
            <input type="text" name="Email" placeholder="电子邮件：">
        </div>
        <div class="input-box">
            <input type="text" name="Tel" placeholder="电话：">
        </div>
        <div class="input-box">
            <input type="text" name="Wechat" placeholder="微信：">
        </div>


        <div class="input-box up_pic-box">
            <p style="line-height: 30px; margin-left: 5px">上传合照</p>
            <!--<div id="drop_area_2"></div>-->
            <input type="file"  name="Photo" id="photofile" />
        </div>

        <div class="input-box textarea-box">
            <textarea placeholder="简介：" name="Description"></textarea>
        </div>
        <div class="sub">发送</div>
    </div>

    </form>

    <script type="text/javascript">

        $(".sub").click(function(){
            $("form").submit();
        });
    </script>
</div>